* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Permanent Marker', cursive;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body,
h1,
input,
textarea,
button {
  font-family: 'Permanent Marker', cursive;
  outline: none;
}

main {
  display: flex;
  flex-wrap: wrap;
}

.app-header {
  margin: 10px 20px 0px;
}

header aside {
  display: flex;
  max-width: 600px;
}

.search,
.add-new {
  font-size: 16px;
  padding: 10px;
  margin: 16px;
}

.search {
  flex-grow: 1;
}

.add-new {
  border-radius: 10px;
}

.note {
  width: 300px;
  height: 300px;
  margin: 20px;
  background-color: lightyellow;
  border: 1px solid grey;
  box-shadow: 2px 2px 3px lightgrey;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  position: relative;
}

.note__title,
.note__description {
  width: 100%;
  padding: 10px 20px;
  background: transparent;
}

.note__title {
  font-size: 18px;
  font-weight: bold;
}

.note__description {
  flex-grow: 1;
  font-size: 14px;
}

.note__delete {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 20px;
  color: lightgrey;
}

.note__delete:hover {
  color: black;
  cursor: pointer;
}
